@import "../../../../../assets/scss/variables.scss";
.summaryContainer {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    // margin-top: 40px;
    // // width: 100%;
    flex-wrap: wrap;
    .item {
        max-width: 48%;
        @media (max-width: 1200px) {
            max-width: 100%;
        }
        .tableLabel {
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: 28px;
            color: $color-blue-1;
            padding-bottom: 8px;
        }
    }
}