@import "../../../../assets/scss/variables.scss";

.filterContainer {
    display: flex;
    width: 100%;
    gap: 20px;
    flex-wrap: wrap;

    .filterItem {
        flex: 1;

        label {
            font-size: 24px;
            font-style: normal;
            font-weight: 500;
            color: $color-blue-3;
        }
    }
}